<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title justify-content-center" id="registrationModalTitle">
                    Login
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form class="needs-validation" novalidate method="POST" action="/login" autocomplete="off">
                <div class="modal-body">
                    <fieldset class="form-group">
                        <label for="userType">Login As </label>
                        <select name="userType" id="userType">
                          <option value="student">Student</option>
                          <option value="teacher">Teacher</option>
                          <option value="admin">Admin</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="username">Username: </label>
                        <input type="text" class="form-control" name="username" placeholder="username" id="username" required />
                        <div class="invalid-feedback">
                            Username can not be empty.
                        </div>
                    </fieldset>

                    <fieldset class="form-group ">
                        <label for="password ">Password:(Minimum 8 characters)</label>
                        <input type="password" class="form-control " minLength="8" name="password" placeholder="password " id="password " required />
                        <div class="invalid-feedback">
                            Minimum password length is 8.
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <fieldset class="form-group text-right">
                        <input type="submit" class="btn btn-success" value="Submit" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>