<html lang="en">

<head>
    <title>Home Screen</title>
    <!--Include CSS File-->
    <link rel="stylesheet" href="stylesheets/grader.css">
    <!-- Include JS File Here -->
    <script src="javascript/grader.js"></script>
</head>

<body>
    <!--The Top Navigation Bar-->
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/account">Profile</a>
        <a href="/checklist">Checklist</a>
        <a href="">Calendar</a>
        <a class="active" href="grader.html">Grader</a>
        <!-- <a href="">Admin</a> -->
        <!--Will make it that only viewable when logged in as a Adminstrator-->

    </div>
    <div class="container">
        <div class="main">
            <h2>Grader</h2>
            <!--Sample Subjects-->
            <!--Grader form-->
            <form>
                Mathematics: <input type="number" id="subject1" name="Mathematics"><br> Grade: <input type="text" readonly id="letterGrade1" name="letterGrader"><br> Sciences: <input type="number" id="subject2" name="Sciences"><br> Grade: <input type="text"
                    readonly id="letterGrade2" name="letterGrader"><br> Writing: <input type="number" id="subject3" name="Writing"><br> Grade: <input readonly type="text" id="letterGrade3" name="letterGrader"><br> Music: <input type="number" id="subject4"
                    name="Music"><br> Grade: <input type="text" readonly id="letterGrade4" name="letterGrader"><br> Average Grade: <input type="number" id="avgGrade" name="averageGrade"><br> Grade: <input type="text" readonly id="letterGrade5" name="letterGrader"><br>
                <input type="button" value="Average Grade" onclick="calcAvgGrades()">
                <input type="button" value="Letter Grade" onclick="calcGrades()">
            </form>
        </div>
    </div>
    <script>
        function calcAvgGrades() {
            var subject1Grade = parseInt(document.getElementById("subject1").value);
            var subject2Grade = parseInt(document.getElementById("subject2").value);
            var subject3Grade = parseInt(document.getElementById("subject3").value);
            var subject4Grade = parseInt(document.getElementById("subject4").value);
            document.getElementById("avgGrade").value = (subject1Grade + subject2Grade + subject3Grade + subject4Grade) / 4
        }

        //This function allows to present a letter grading for each subject score and the average grade
        function calcGrades() {
            var subject1Grade = parseInt(document.getElementById("subject1").value);
            var subject2Grade = parseInt(document.getElementById("subject2").value);
            var subject3Grade = parseInt(document.getElementById("subject3").value);
            var subject4Grade = parseInt(document.getElementById("subject4").value);
            var averageGrade = parseInt(document.getElementById("avgGrade").value);

            var letter;

            //For each Subject
            //Subject 1
            if (subject1Grade >= 90) {
                letter = 'A';
                document.getElementById("letterGrade1").value = letter;
            } else if (subject1Grade >= 80) {
                letter = 'B';
                document.getElementById("letterGrade1").value = letter;
            } else if (subject1Grade >= 70) {
                letter = 'C';
                document.getElementById("letterGrade1").value = letter;
            } else if (subject1Grade >= 60) {
                letter = 'D';
                document.getElementById("letterGrade1").value = letter;
            } else {
                letter = 'F';
                document.getElementById("letterGrade1").value = letter;
            }

            //Subject 2
            if (subject2Grade >= 90) {
                letter = 'A';
                document.getElementById("letterGrade2").value = letter;
            } else if (subject2Grade >= 80) {
                letter = 'B';
                document.getElementById("letterGrade2").value = letter;
            } else if (subject2Grade >= 70) {
                letter = 'C';
                document.getElementById("letterGrade2").value = letter;
            } else if (subject2Grade >= 60) {
                letter = 'D';
                document.getElementById("letterGrade2").value = letter;
            } else {
                letter = 'F';
                document.getElementById("letterGrade2").value = letter;
            }

            //Subject 3
            if (subject3Grade >= 90) {
                letter = 'A';
                document.getElementById("letterGrade3").value = letter;
            } else if (subject3Grade >= 80) {
                letter = 'B';
                document.getElementById("letterGrade3").value = letter;
            } else if (subject3Grade >= 70) {
                letter = 'C';
                document.getElementById("letterGrade3").value = letter;
            } else if (subject3Grade >= 60) {
                letter = 'D';
                document.getElementById("letterGrade3").value = letter;
            } else {
                letter = 'F';
                document.getElementById("letterGrade3").value = letter;
            }

            //Subject 4
            if (subject4Grade >= 90) {
                letter = 'A';
                document.getElementById("letterGrade4").value = letter;
            } else if (subject4Grade >= 80) {
                letter = 'B';
                document.getElementById("letterGrade4").value = letter;
            } else if (subject3Grade >= 70) {
                letter = 'C';
                document.getElementById("letterGrade4").value = letter;
            } else if (subject4Grade >= 60) {
                letter = 'D';
                document.getElementById("letterGrade4").value = letter;
            } else {
                letter = 'F';
                document.getElementById("letterGrade4").value = letter;
            }

            //Average Grade
            if (averageGrade >= 90) {
                letter = 'A';
                document.getElementById("letterGrade5").value = letter;
            } else if (subject3Grade >= 80) {
                letter = 'B';
                document.getElementById("letterGrade5").value = letter;
            } else if (subject3Grade >= 70) {
                letter = 'C';
                document.getElementById("letterGrade5").value = letter;
            } else if (subject3Grade >= 60) {
                letter = 'D';
                document.getElementById("letterGrade5").value = letter;
            } else {
                letter = 'F';
                document.getElementById("letterGrade5") = letter;
            }
        }
    </script>
</body>